<IfModule mod_rewrite.c>
    RewriteEngine On

    # Asegúrate de que las solicitudes a archivos CSS, JS o imágenes no sean interceptadas por el enrutador
    RewriteCond %{REQUEST_URI} !\.(css|js|jpg|jpeg|png|gif|ico|svg|woff|woff2|ttf|eot)$ [NC]

    # Si el recurso solicitado (archivo o directorio) no existe, redirige a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>